@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1598322919461'); /* IE9 */
  src: url('iconfont.eot?t=1598322919461#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKkAAsAAAAABmwAAAJWAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAp0gQMBNgIkAwgLBgAEIAWEbQczG6wFEQXMyb4qsF1oVLEzSHCbBLFKIjnR+VXvu/DbhO10Ph9E8P0auu/uhwBUJp7ZE6sITy0bSVKiY12dqZv/u7UBE1oDqIsWT/CeAwrDEomsdgBk/gcbcBAYBQQRL3ipaW5tin6jIhRLcp766X/kN4QLocOqKlUhK2R94t7pn0CBzHfe5bj2pkn/ojgOpED3wCiyEsq4Yewmggf4mECpTuNivlnfJ0nAqkDczhdHpEJMkpxisVDYcDCJ96ji7EUW3vHvxz8TUUymIAfats8XTmU/wzJ8Vk8JcSAYxwuQYxyJ2G/MbcLC4eVKc0Qvx2oOfv7UIY5qFc5fBxrLQbsueyY5VjyqZAYS0+nH8KQweTmYf2Cen8Wr8PLD8exUp1a4bdb2z5QVdqutGznYGlu3rasoj2o/cn4wDfwsn0UCRLDa18pUFf0vVhP44hq3JMMCQPFe/cHfkQ/kpFgJ7FkK5Y2lTL/8rB2lSvHMDNX6PtXUcCulUKzhhgJFOjJPrjiW62Rix1GgzCQKFZtCqTFLx8vUuYNFKsGoew1BsnyAGD5gli9J2B+owB+MFUDRhXuhKgxVyagFHZg3JEurR05RovmM4aia80rOvyPvKQlD25eLJ1yRl9iyP8Io4sEzLTBrz2GtBBtTRittFNmmrvNNb2otLY1SYkgTyAHGG0gssvJ0vFCVz5+h4FBp3DEwkr5DbJdmB4NWP4A86dZBA4/yyu4hGAnhAY+RBZi1eaiqCNia52XIEq04IbOZdHCYH6prtzcsf3cCSgFzFnBHTr7ANbiD+qFpAAAAAA==') format('woff2'),
  url('iconfont.woff?t=1598322919461') format('woff'),
  url('iconfont.ttf?t=1598322919461') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1598322919461#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gengduo01:before {
  content: "\e69a";
}

